<!DOCTYPE html>
<html>
<head>
    <title>KAY Chat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <!-- Chat Box -->
    <h2 class="chat-title">KAY AI Chat</h2>
    <div id="chatBox" class="chat-box">

        <!-- Intro message -->
        <div class="intro-msg">
            🔐 KAY Consent ON <br>
            🟡 Personal | 🔴 Sensitive data will be flagged
        </div>
        <div class="message ai">
            👋 Hi, I’m KAY!  
            I’ll help you stay safe while chatting!
        </div>

    </div>

    <!-- Input Area -->
    <div class="input-area">
        <input type="text" id="messageInput" placeholder="Ask me something" />
        <button onclick="handleSend()">Send</button>
    </div>

    <!-- Popup -->
    <div id="popup" class="popup hidden">
        <p id="popupText"></p>
        <button onclick="confirmSend()">Allow</button>
        <button onclick="closePopup()">Deny</button>
    </div>

    <!-- Script -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
